@import "../../../styles/settings.scss";

.root {
  .toolbar {
    display: flex;
    justify-content: center;

    > *, .profile > *{
      color: $color-light;
      text-transform: uppercase;
    }
    label {
      color: inherit;
      font-weight: 400;
    }
  }
  .link {
    color: inherit;
    font-weight: 400;
  }
}
