@import "../../../styles/settings.scss";

.root {
  padding: ($base-size * 2) 0;

  .postsContainer {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .card {
    width: 385px;
    display: inline-block;
    margin: 24px 12px;

    .details {
      margin: 12px 0;
      > * {
        font-size: 0.8rem;
      }
      .price {
        font-size: 20px;
      }
    }

    .text {
      margin: 12px 0;
    }
  }
}
